@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.baby-main-font {
  font-family: "Amatic SC", cursive;
  font-family: "Noto Serif TC", serif;
}

.baby-date-font {
  font-family: "Amatic SC", cursive;
}

.background-main-image {
  background-image: url("/bg.png");
}
